h1 {
<<<<<<< HEAD
    text-align: center;
=======
	font-family: Brushstroke, fantasy;
	color: #000;
	text-align: center;
}

body {
	background-image: url("background.jpg");
	background-color: #FEF5CA;

}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: 1px solid #000;
	margin: 10px auto;
	padding: 10px;
}

.row {
	width: 100%;
}

section {
	border:	1px solid black;
	background-color: #00FF99;
	width: 100%;
	height: 200px;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
>>>>>>> oys
}

#chicken {
    float: right;
}

#beef {
    float: right;
}

#sushi {
<<<<<<< HEAD
    float: right;
}
 .row {
     width: 100%;
 }

 div{
     position: relative;
 }

 body {
     background-color: white;
 }

 p {
     text-align: justify;
 }

 div.row {
     width: 100%;
 }

 /********** Large devices only **********/
@media (min-width: 1200px) {
    .col-lg-4{
      float: left;
      border: 1px solid black;
      width: 33.33%;
      padding: 10px;
      margin: 10px;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    .col-md-6, .col-md-12 {
      float: left;
      border: 1px solid black;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  /********** Small devices only **********/
  @media (max-width: 768px) {
    .col-md-12 {
      float: left;
      border: 1px solid black;
      width: 100%;
    }
  }
 
=======
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
	background-color: #6495ED;
	color: white;
}

/* Desktop view */

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

/* Mobile view */

@media (max-width: 767px) { 
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
>>>>>>> oys
